#!/usr/bin/make -f

# Comment/Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- -DBUILD_DOC=1

override_dh_strip:
	dh_strip --dbg-package=autordf-dbg
